<!DOCTYPE html>
<html lang="en">
<head>
  <title>Регистрация</title>
  <%= stylesheet_link_tag 'registration', media: 'all' %>
</head>
<body>
  <div class="registration-page">
    <div class="registration-container">
      <div class="form-container">
        <h1>Создайте аккаунт</h1>
        <p>Читайте, обсуждайте, спрашивайте всё о ЖК</p>
        

        <!-- Кнопки OAuth -->
        <div class="oauth-buttons">
  <button class="oauth-btn google-btn">
    <img src="<%= asset_path('google-icon.png') %>" alt="Google" class="oauth-icon" />
    Google
  </button>
  <button class="oauth-btn yandex-btn">
    <img src="<%= asset_path('yandex-icon.png') %>" alt="Яндекс" class="oauth-icon" />
    Яндекс
  </button>
</div>
        
        <div class="divider">
          <span>или</span>
        </div>

        <!-- Форма регистрации -->
        <%= form_with model: resource, url: registration_path(resource_name), local: true, class: "registration-form" do |f| %>
          <div class="input-group">
            <div>
              <%= f.label :first_name, "Ваше имя" %>
              <%= f.text_field :name %>
            </div>
            <div>
              <%= f.label :username, "Ник" %>
              <%= f.text_field :username %>
            </div>
          </div>

          <div class="input-field">
            <%= f.label :email, "Ваша почта" %>
            <%= f.email_field :email %>
          </div>

          <div class="input-field">
            <%= f.label :password, "Придумайте пароль" %>
            <%= f.password_field :password %>
            <p class="hint">Не менее 8 символов</p>
          </div>

          <%= f.submit "Создать аккаунт", class: "submit-btn" %>
        <% end %>
      </div>

      <div class="image-container">
        <div class="image-placeholder">
        <img src="<%= asset_path('reg-banner.png') %>" alt="Баннер" class="reg-banner" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>
