<%= stylesheet_link_tag 'navbar', media: 'all' %>

<div class="theme_block">
  <% if @topics.any? %>
    <% @topics.each do |topic| %>
      <div class="topic">
        <div class="category"><%= topic.category&.title %></div>
        <li class="profile-name">
                <%= image_tag(asset_path('userpic.png'), alt: 'User', class: "user-icon") %>
                <div class="profile-card">
                <%= link_to 'Андрей Борисов', edit_user_registration_path, class: "profile-card-name" %>
                </div>
                
              </li>
        <h2><%= link_to topic.title, topic_path(topic), class: 'linker' %></h2>
        <p><%= topic.description %></p>
        <%= image_tag(asset_path('postimage.png'), alt: 'Home', class: "post_image") %>
        <div class="post_underbar">
          <div class="post_activities">
            <div class="comment_section">
                <%= link_to topic_path(topic), class: 'linker' do %>
                  <%= image_tag(asset_path('comments.svg'), alt: 'Comments', class: "comment_icon") %>
                <% end %>
              <h5>64</h5>
            </div>
            <div class="comment_section">
            <%= link_to topic_path(topic), class: 'linker' do %>
              <%= image_tag(asset_path('share.png'), alt: 'Home', class: "share_icon") %>
            <% end %>
          <h5>Поделиться</h5>
        </div>
            
          </div>
          <div class="views_section">
            <%= image_tag(asset_path('views.png'), alt: 'Home', class: "views_icon") %>
            <h5>1 тыс.</h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% else %>
    <p>Тем пока нет. Будьте первым, кто создаст тему!</p>
  <% end %>
