<!DOCTYPE html>
<head>
<title>Локус</title>
 <%= favicon_link_tag 'favicon.ico' %>
</head>
<html>
  <%= stylesheet_link_tag 'navbar', media: 'all' %>

  <body>
    <div class="upbar">
      <div class="logo_wrapper">
        <%= image_tag(asset_path('LogoBig.svg'), alt: 'Home', class: "logo-svg") %>
      </div>
      
      <%= form_with url: topics_path, method: :get, local: true do |form| %>
        <%= form.text_field :query, placeholder: "Поиск", class: "search-box" %>
      <% end %>

    </div>

    <div class="main_flex">
      <nav>
        <div class="nav-wrapper">
          <h5>МЕНЮ</h5>
          <ul class="nav-pages">
            <li class="nav-page">
              <%= image_tag(asset_path('Home_01.svg'), alt: 'Home', class: "nav-icon") %>
              <%= link_to "Главная", root_path, class: "brand-logo" %>
            </li>
            <li class="nav-page-unactive">
              <%= image_tag(asset_path('Flats.svg'), alt: 'Home', class: "nav-icon") %>
              <%= link_to "Мои ЖК", root_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= image_tag(asset_path('Popular.svg'), alt: 'Home', class: "nav-icon") %>
              <%= link_to "Популярное", root_path, class: "brand-logo-un" %>
            </li>
          </ul>
          <h5>НЕДАВНЕЕ</h5>
          <ul class="nav-pages">
            <li class="nav-page-unactive">
              <%= link_to "Фили Сити", root_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= link_to "ЖК Символ", root_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= link_to "Зиларт", root_path, class: "brand-logo-un" %>
            </li>
          </ul>
          <h5>ПРОЕКТ</h5>
          <ul class="nav-pages">
            <li class="nav-page-unactive">
              <%= link_to "О проекте", about_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= link_to "Поддержка", root_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= link_to "Реклама", root_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= link_to "Застройщикам", root_path, class: "brand-logo-un" %>
            </li>
            <li class="nav-page-unactive">
              <%= link_to "Правила", root_path, class: "brand-logo-un" %>
            </li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li class="profile-name">
                <%= image_tag(asset_path('userpic.png'), alt: 'User', class: "user-icon") %>
                <div class="profile-card">
                <%= link_to 'Андрей Борисов', edit_user_registration_path, class: "profile-card-name" %>
                <%= link_to '@aaborisov', edit_user_registration_path, class: "profile-card-id" %>
                </div>
                
              </li>
              
              <% if current_user.admin? %>
                <li>
                  <%= link_to 'Админ-панель', admin_users_path %>
                </li>
                <li>
                  <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                    <%= submit_tag 'Выйти', data: { confirm: 'Вы уверены, что хотите выйти?' } %>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path %></li>
              <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="container">
        <%= yield %>
      </div>

      <div class="nav_nav">
        <div class="nav-wrapper-right">
          <ul class="flat-pages">
            <li class="flat-page-unactive">
              <%= image_tag(asset_path('Grand-Park.png'), alt: 'Home', class: "flat-icon") %>
              <%= link_to "ЖК Гранд Парк", root_path, class: "brand-logo-un" %>
            </li>
            <li class="flat-page-unactive">
              <%= image_tag(asset_path('Zilart.png'), alt: 'Home', class: "flat-icon") %>
              <%= link_to "Зиларт", root_path, class: "brand-logo-un" %>
            </li>
            <li class="flat-page-unactive">
              <%= image_tag(asset_path('Flat-Symbol.png'), alt: 'Home', class: "flat-icon") %>
              <%= link_to "ЖК Символ", root_path, class: "brand-logo-un" %>
            </li>
            <li class="flat-page-unactive">
              <%= image_tag(asset_path('Flat-Metropolis.png'), alt: 'Home', class: "flat-icon") %>
              <%= link_to "ЖК Метрополия", root_path, class: "brand-logo-un" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
